/*nav bar*/
#nav {
    border: 1px solid red;
    display: flex;
    width: 100%;
    height: 120px;
    position: fixed;
    background: #EEEFF1;
    z-index: 1;
}

#nav > div:first-child{
    margin: 30px 80px;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
}

.navbar-nav > li {
    font-size: 18px;
    margin-left: 20px;
}

.navbar-nav > li:first-child {
    margin-left: 50px;
}

#nav > div:last-child{
    margin: 30px 80px;
}

#btns {
    display: flex;
    align-items: center;
    justify-content: right;
    /*border: 1px solid red;*/
    width: 20%;
    font-family: 'Poppins', sans-serif;
}

#loginBtn {
    margin-right: 15px;
    width: 100px;
    height: 40px;
    border-radius: 3px;
}

#loginBtn:hover {
    background: #CC2451;
    color: white;
}

#signUpBtn:hover {
    background: #CC2451;
    color : white;
}

#signUpBtn {
    width: 100px;
    height: 40px;
    border-radius: 3px;
}

/*homepage*/
#homepage {
    width: 100%;
    height: 100vh;
    border: 1px solid black;
    background: #EEEFF1;
    display: flex;
    align-items: center;
    z-index: 0;
}

#bgImage {
    width: 50%;
    height: 80%;
    border: 1px solid red;
    background: url("../img/bgImage.png") no-repeat right;
    background-size: contain;
    position: absolute;
    right: 400px;
    top: 150px;
}

#carImage {
    width: 80%;
    height: 70vh;
    background: url("../img/bensGray.png") no-repeat right;
    background-size: contain;
    position: absolute;
    border: 1px solid blue;
    right: 0;
    top: 150px;
}

#intro {
    /*position: absolute;*/
    margin: 200px 90px;
}

#intro > h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}



