/*nav bar*/
#nav {
    /*border: 1px solid red;*/
    display: flex;
    width: 100%;
    height: 100px;
    position: fixed;
    background: #EEEFF1;
    z-index: 10;
}

#nav > div:first-child {
    margin: 20px 80px;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: #CC2451;
}

.navbar-nav > li {
    font-size: 18px;
    margin-left: 20px;
}

.navbar-nav > li:first-child {
    margin-left: 50px;
}

#nav > div:last-child {
    margin: 30px 80px;
}

#btns {
    display: flex;
    align-items: center;
    justify-content: right;
    /*border: 1px solid red;*/
    width: 20%;
    font-family: 'Poppins', sans-serif;
}

#loginBtn {
    margin-right: 15px;
    width: 100px;
    height: 40px;
    border-radius: 3px;
}

#loginBtn:hover {
    background: #CC2451;
    color: white;
}

#signUpBtn:hover {
    background: #CC2451;
    color: white;
}

#signUpBtn {
    width: 100px;
    height: 40px;
    border-radius: 3px;
}

/*homepage*/
#homepage {
    width: 100%;
    height: 100vh;
    /*border: 1px solid black;*/
    background: #EEEFF1;
    display: flex;
    align-items: center;
    z-index: 0;
}

#bgImage {
    width: 50%;
    height: 80%;
    /*border: 1px solid red;*/
    background: url("../img/bgImage.png") no-repeat right;
    background-size: contain;
    position: absolute;
    right: 420px;
    top: 120px;
}

#carImage {
    width: 80%;
    height: 70vh;
    background: url("../img/bensGray.png") no-repeat right;
    background-size: contain;
    position: absolute;
    /*border: 1px solid blue;*/
    right: 0;
    top: 150px;
}

#intro {
    /*position: absolute;*/
    margin: 200px 90px;
    z-index: 2;
}

#intro > h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 40px;
}

#intro > h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    color: #CC2451;
}

#intro > h6 {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    letter-spacing: 1px;
    font-weight: initial;
    font-size: 14px;
}

/*about us*/
#aboutUs {
    width: 100%;
    height: 82vh;
    background: white;
    display: flex;
}

#aboutUs aside:first-child {
    width: 40%;
    border: 1px solid red;
}

#aboutUs aside:last-child {
    width: 60%;
    border: 1px solid red;
}

#sentences > h4 {
    margin-right: 80px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-left: 10px;
    margin-bottom: 12px;
}

#sentences > h2 {
    margin: 150px 50px 20px 20px;
    color: #CC2451;
    font-size: 21px;
}

#sentences > h4:first-child {
    margin-top: 150px;
}

#aboutUs > aside:first-child {
    background: url("../img/bmwWhite.png") no-repeat left;
    background-size: contain;
    border: 1px solid red;
}

#aboutUs aside:nth-child(2) {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

#aboutUs aside:nth-child(2) h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

#services {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 82vh;
}

#services > div {
    display: flex;
    justify-content: center;
    border: 1px solid red;
    width: 100%;
    margin-top: 100px;
}

#serv {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 100%;
}

#serv h1 {
    /*position: absolute;*/
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

#contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 82vh;
}

#contact > div {
    border: 1px solid red;
    width: 100%;
    height: 82vh;
}

#cont {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    width: 100%;
}

#cont h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: bold;
}

#rental {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 82vh;
}

#rental > div {
    border: 1px solid red;
    width: 100%;
    height: 82vh;
}

#rnt {
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
    border: 1px solid red;
    width: 100%;
}

#rnt h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-left: 150px;
    margin-top: 30px;
}